/* Global styles */
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    background-color: #e8f6e8;
  }
  
  a {
    color: #005200;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  /* Header styles */
  header {
    background-color: #b3d9b3;
    padding: 20px;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: right;
  }
  
  nav ul li {
    display: inline-block;
    margin-left: 20px;
  }
  
  nav ul li:first-child {
    margin-left: 0;
  }
  
  nav ul li a {
    color: #fff;
  }
  
  h1, h2 {
    color: #005200;
    margin: 0;
  }
  
  /* Main styles */
  main {
    background-color: #fff;
    padding: 20px;
    margin: 0 20px;
  }
  
  section {
    margin-bottom: 20px;
  }
  
  h3 {
    color: #005200;
    margin-top: 0;
    font-size: 24px;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  ul li {
    margin-bottom: 10px;
  }
  
  ul li a {
    color: #005200;
    font-weight: bold;
  }
  
  /* Courses section styles */
  #courses {
    background-color: #c6e5c6;
    padding: 20px;
    border: 1px solid #005200;
    border-radius: 5px;
  }
  
  #courses h4 {
    color: #005200;
    margin-top: 0;
  }
  
  #courses p {
    color: #333;
  }
  
  #courses a {
    display: block;
    margin-top: 10px;
  }
  
  /* Resources section styles */
  #resources {
    background-color: #c6e5c6;
    padding: 20px;
    border: 1px solid #005200;
    border-radius: 5px;
  }
  
  #resources p {
    color: #333;
  }
  
  /* Footer styles */
  footer {
    background-color: #b3d9b3;
    padding: 20px;
    text-align: center;
    color: #fff;
  }
  .course-details {
    display: none;
  }